PORT=5000
NODE_ENV=development

# MongoDB Connection String (Atlas or Local MongoDB with Replica Set for Prisma)
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/cosmetics_db?retryWrites=true&w=majority"

# JWT Secret Key
JWT_SECRET="your_jwt_super_secret_key_here_change_in_production"
